{% extends 'base.html' %}
{% block title %}Talk IPA 2 Me!{% endblock title %}
{% block content %}
    <div class="container has-text-centered">
        <nav class="panel is-primary">
            <p class="panel-heading">
                Enter your English text below
            </p>
            <form method="post">
                {% csrf_token %}
                <div class="panel-block">
                    <div class="control">
                        {{ form.as_p }}

                    </div>
                </div>
                <div class="panel-block">
                    {% if text %}
                        <div class="panel-block">
                            <p class="has-text-justified">{{ text }}</p>
                        </div>
                    {% else %}
                        <p class="has-text-justified">Your IPA text will appear here.</p>
                    {% endif %}            </div>

                <div class="panel-block">
                    <div class="column"></div>
                    <button class="button is-primary is-outlined" type="submit">
                        Get text in IPA
                    </button>
                    <div class="column"></div>

                </div>

            </form>
        </nav>
    </div>
{% endblock content %}