{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="title has-text-centered">What is IPA?</div>
        <div class="columns">
            <div class="column is-1-desktop-only"></div>
            <div class="column is-10-desktop has-text-justified">
                <p>Having 44 phonemes, English has largely outgrown the 24-letter roman alphabet. There is simply no way
                to have anything close to a one-to-one relationship from phonemes to letters. On top of that, English
                inherited words from a widely diverse set of languages and decided to respect their etymology, which is
                why the spelling system is so incredibly inconsistent. The rest of this article will be exploring those
                inconsistencies while presenting how the use of the International Phonetic Alphabet (IPA) can help to
                overcome the problem of not being able to read an English word without hearing it before.</p>

                <div class="title has-text-centered mt-3">Homophones</div>
                <p class="has-text-justified-mobile has-text-centered-desktop">The table below presents a list of English homophone-pairs with their respective IPA translation:</p>
                <section class="section">
                    <div class="columns is-centered is-mobile">
                        <table class="table is-centered is-bordered  is-striped is-narrow is-hoverable ">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>IPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Flour</td>
                            <td>Fl'aʊər</td>
                        </tr>
                        <tr>
                            <td>Flower</td>
                            <td>Fl'aʊər</td>
                        </tr>
                        <tr>
                            <td>Air</td>
                            <td>'ɛr</td>
                        </tr>
                        <tr>
                            <td>Heir</td>
                            <td>'ɛr</td>
                        </tr>
                        <tr>
                            <td>Hymn</td>
                            <td>H'ɪm</td>
                        </tr>
                        <tr>
                            <td>Him</td>
                            <td>H'ɪm</td>
                        </tr>
                        <tr>
                            <td>Idle</td>
                            <td>'Aɪdəl</td>
                        </tr>
                        <tr>
                            <td>Idol</td>
                            <td>'Aɪdəl</td>
                        </tr>
                        <tr>
                            <td>Know</td>
                            <td>N'oʊ</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>N'oʊ</td>
                        </tr>

                    </tbody>
                </table>
                    </div>
                </section>

                <div class="title has-text-centered">Oddly similar but very different words</div>
                <p class="is-italic has-text-centered"> Yes, English can be weird. It can be understood through tough thorough thought, though.</p>
                                <section class="section">
                    <div class="columns is-centered is-mobile">
                        <table class="table is-centered is-bordered  is-striped is-narrow is-hoverable ">
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>IPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Through</td>
                            <td>Θr'u</td>
                        </tr>
                        <tr>
                            <td>tough</td>
                            <td>tʌf</td>
                        </tr>
                        <tr>
                            <td>thorough</td>
                            <td>θɜroʊ</td>
                        </tr>
                        <tr>
                            <td>thought</td>
                            <td>θ'ɔt</td>
                        </tr>
                        <tr>
                            <td>though</td>
                            <td>ð'oʊ</td>
                        </tr>
                    </tbody>
                </table>
                    </div>
                </section>

                <div class="title has-text-centered">The vowels</div>
                <p class="has-text-centered">12 vowel sounds. 5 vowel letters.</p>
                                <section class="section">
                    <div class="columns is-centered is-mobile">
                        <table class="table is-centered is-bordered  is-striped is-narrow is-hoverable ">
                    <thead>
                        <tr>
                            <th>Vowel</th>
                            <th>IPA</th>
                            <th>English</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>æ</td>
                            <td>k'æt</td>
                            <td>c<strong>a</strong>t</td>
                        </tr>
                        <tr>
                            <td>ɑ</td>
                            <td>f'ɑðər</td>
                            <td>f<strong>a</strong>ther</td>
                        </tr>
                        <tr>
                            <td>ə</td>
                            <td>əg'ɛn</td>
                            <td><strong>a</strong>gain</td>
                        </tr>
                        <tr>
                            <td>ʌ</td>
                            <td>bʌs</td>
                            <td>b<strong>u</strong>s</td>
                        </tr>
                        <tr>
                            <td>ɔ</td>
                            <td>'ɔl</td>
                            <td><strong>a</strong>ll</td>
                        </tr>
                        <tr>
                            <td>o</td>
                            <td>h'oʊm</td>
                            <td>h<strong>o</strong>me</td>
                        </tr>
                        <tr>
                            <td>ɛ</td>
                            <td>dr'ɛs</td>
                            <td>dr<strong>e</strong>ss</td>
                        </tr>
                        <tr>
                            <td>e</td>
                            <td>l'eɪk</td>
                            <td>l<strong>a</strong>ke</td>
                        </tr>
                        <tr>
                            <td>ɪ</td>
                            <td>sl'ɪp</td>
                            <td>sl<strong>i</strong>p</td>
                        </tr>
                        <tr>
                            <td>i</td>
                            <td>sl'ip</td>
                            <td>sl<strong>ee</strong>p</td>
                        </tr>
                        <tr>
                            <td>ʊ</td>
                            <td>b'ʊk</td>
                            <td>b<strong>oo</strong>k</td>
                        </tr>
                        <tr>
                            <td>u</td>
                            <td>tr'u</td>
                            <td>tr<strong>ue</strong></td>
                        </tr>
                    </tbody>
                </table>
                    </div>
                </section>
                <p class="has-text-centered">1 sound. 5 letters.</p>
                                <section class="section">
                    <div class="columns is-centered is-mobile">
                        <table class="table is-centered is-bordered  is-striped is-narrow is-hoverable ">
                    <thead>
                        <tr>
                            <th>Vowel</th>
                            <th>IPA</th>
                            <th>English</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ə</td>
                            <td>əb'aʊt</td>
                            <td><strong>a</strong>bout</td>
                        </tr>
                        <tr>
                            <td>ə</td>
                            <td>t'eɪkən</td>
                            <td>tak<strong>e</strong>n</td>
                        </tr>
                        <tr>
                            <td>ə</td>
                            <td>p'ɛnsəl</td>
                            <td>penc<strong>i</strong>l</td>
                        </tr>
                        <tr>
                            <td>ə</td>
                            <td>m'ɛməri</td>
                            <td>mem<strong>o</strong>ry</td>
                        </tr>
                        <tr>
                            <td>ə</td>
                            <td>səpl'aɪ</td>
                            <td>s<strong>u</strong>pply</td>
                        </tr>
                    </tbody>
                </table>
                    </div>
                </section>
            </div>
            <div class="column is-1-desktop-only"></div>
        </div>
    </div>
{% endblock %}